.map-item-card {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #171717;
  border: 1px solid #fff;
  border-radius: 12px !important;
  height: 90%;
  padding-bottom: 1rem;
}

.map-item-images {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-arrow,
.right-arrow {
  height: 100%;
}

.item-image {
  width: 280px;
  height: auto;
}
