.map-item-card {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #171717;
  border: 1px solid #fff;
  border-radius: 12px !important;
  height: 90%;
  padding-bottom: 1rem;
}

.divider {
  margin-top: 5px;
}

.map-item-images {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-arrow,
.right-arrow {
  height: 100%;
}

.item-image {
  width: 280px;
  height: auto;
}

@media screen and (min-width: 600px) {
  .item-image {
    width: 450px;
  }
}

@media screen and (min-width: 900px) {
  .item-image {
    width: 330px;
  }
}

@media screen and (min-width: 900px) {
  .item-image {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .item-image-2 {
    width: 450px;
  }

  .item-image-3 {
    width: 280px;
  }
}

@media screen and (min-width: 1440px) {
  .item-image-2 {
    width: 575px;
  }

  .item-image-3 {
    width: 350px;
  }
}

@media screen and (min-width: 1800px) {
  .item-image-2 {
    width: 775px;
  }

  .item-image-3 {
    width: 475px;
  }
}
