@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  background-color: #303030;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: white !important; 
  color: #272727 !important;
  border-color: #272727 !important;
}
