html {
  background-color: #303030;
}

/************ HomeNavBar Styles ************/
.menu-item-list {
  position: absolute;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hide-menu-item-list {
  top: -100%;
  transition: .5s;
}

.show-menu-item-list {
  top: 56px;
  transition: .5s;
}
/************ End HomeNavBar Styles ************/

/************ Home Styles ************/
.home-logo {
  width: 280px;
  height: auto;
  margin-top: 100px;
}

.home-subtitle {
  width: 99.5%;
  padding: 5px;
  margin-top: -41px;
  background-color: #202020;
}

.home-subtitle p {
  margin: 0 50px;
  padding: 10px 0;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
/************ End Home Styles ************/

/************ Breackpoints ************/
@media screen and (min-width: 600px) {
  /************ HomeNavBar Styles ************/
  .menu-item-list {
    top: 63px;
    flex-direction: row;
  }

  .menu-icon {
    display: none !important;
  }
  /************ End HomeNavBar Styles ************/

  /************ Home Styles ************/
  .home-logo {
    width: 480px;
  }

  .home-subtitle {
    margin-top: -70px;
  }

  .home-subtitle p {
    font-size: 1.3rem;
    width: 480px;
    margin: auto;
  }
  /************ End Home Styles ************/
}

@media screen and (min-width: 840px) {
}

@media screen and (min-width: 1440px) {
  /************ Home Styles ************/
  .home-logo {
    width: 860px;
  }

  .home-subtitle {
    margin-top: -129px;
  }

  .home-subtitle p {
    font-size: 1.3rem;
    width: 580px;
  }
  /************ End Home Styles ************/
}
/************ End Breackpoints ************/
