html {
  background-color: #303030;
}

/************ HomeNavBar Styles ************/
.menu-item-list {
  position: absolute;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hide-menu-item-list {
  top: -100%;
  transition: .5s;
}

.show-menu-item-list {
  top: 56px;
  transition: .5s;
}

@media screen and (min-width: 600px) {
  .menu-item-list {
    top: 64px;
    flex-direction: row;
  }

  .menu-icon {
    display: none !important;
  }
}
/************ End HomeNavBar Styles ************/

/************ Home Styles ************/
.home-logo {
  width: 280px;
  height: auto;
  margin-top: 100px;
}

.home-subtitle {
  margin-top: -41px;
  background-color: #202020;
}

.home-subtitle p {
  margin: 0 50px;
  padding: 10px 0;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
/************ End Home Styles ************/
